{% extends "layout.html" %}

{% block content %}
<div class="page-wrapper">

  <div class="creme-box">
    <h1>WELCOME TO FIT4U</h1>
    <p> <strong>Your fitness. Your way.</strong></p>
  
  <div class="header-row">
    <h2>Workout Plan</h2>
    <h2>Meal Suggestions</h2>
  </div>

  <div class="text-row">
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
    <p>Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text</p>
  </div>

  <!--
  <div class="image-row">
    <img src="{{ url_for('static', filename='images/homeimage.jpg') }}" alt="Image of sneakers, headphones, and dumbbells." class="side-image">
  </div>
  -->

  </div>

</div>
    
{% endblock content %}